<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Vendors!</title>
  </head>
  <body>
    <h1>To Do List Order Details: </h1>

    <h2>@Model["order"].Title</h2>
    <p>@Model["order"].Description</p>
    <p>@Model["order"].Price</p>
    <p>@Model["order"].Date</p>
    <h3>Vendor: @Model["vendor"].Name</h3>
    <p>@Model["vendor"].Description</p>

    <a href='/vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
    <a href='/vendors'>View all vendors</a>
    @{
      Layout = "_Layout";
    }
  </body>
</html>